@import './scss/globalVariables.scss';
@import './scss/mixins.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html {
  font-size: 62.5%;
  font-family: 'Open sans', sans-serif;
  font-weight: 400;
  line-height: 2.4rem;

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 45%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  height: min(100vh);
  background-image: $background-color;
}
